/* BASE STYLES */

html {
    font-size: 150%;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282a36;
}
/* CALCULATOR DISPLAY AND FRAME*/

.container {
    border-radius: 0.5em;
    overflow: hidden;
    
}

.calculator-display {
     background-color: #44475a;
     color: #f8f8f2;
     width: 16.25rem;
     padding: 0.75rem 1rem;
     text-align: right;
     font-size: 150%;
} 

/* CALCULATOR KEYS */

.calculator-keys {
    background-color: #44475a;
    display: grid;
    grid-gap: 2.5px;
    height: 400px;
    grid-template-columns: repeat(4, auto);
    grid-template-areas: 
        ". . . ."
        "seven eight nine equal"
        "four five six equal"
        "one two three equal"
        "zero decimal clear equal";
}

.calculator-keys > button {
    border: 0;
}

.one {
    grid-area: one;
    background-color: #6272a4;
    color: #f1fa8c;
}
.two {
    grid-area: two;
    background-color: #6272a4;
    color: #f1fa8c;
}
.three {
    grid-area: three;
    background-color: #6272a4;
    color: #f1fa8c;
}
.four {
    grid-area: four;
    background-color: #6272a4;
    color: #f1fa8c;
}
.five {
    grid-area: five;
    background-color: #6272a4;
    color: #f1fa8c;
}
.six {
    grid-area: six;
    background-color: #6272a4;
    color: #f1fa8c;
}
.seven {
    grid-area: seven;
    background-color: #6272a4;
    color: #f1fa8c;
}
.eight {
    grid-area: eight;
    background-color: #6272a4;
    color: #f1fa8c;
}
.nine {
    grid-area: nine;
    background-color: #6272a4;
    color: #f1fa8c;
}
.zero {
    grid-area: zero;
    background-color: #6272a4;
    color: #f1fa8c;
}
.decimal {
    grid-area: decimal;
    background-color: #6272a4;
    color: #f1fa8c;
}
.clear {
    grid-area: clear;
    background-color: #6272a4;
    color: #f1fa8c;
}
.equal {
    grid-area: equal;
    background-color: #ff79c6;
    color: #44475a;
}
.equal:hover,
.equal:focus {
    background-color: #ff5555;
}
.add,
.subtract,
.multiply,
.divide {
    background-color: #8be9fd;
    color: #44475a;
} 
.add:hover,
.subtract:hover,
.multiply:hover,
.divide:hover,
.add:focus,
.subtract:focus,
.multiply:focus,
.divide:focus{
   background-color: #50fa7b ;
}
[data-type="number"]:hover,
[data-type="number"]:focus {
    background-color: #bd93f9; 
}